{% extends "base.html" %}

{% block content %}


<h1>Login</h1>

<div class="container">

    <form class="form-signin " action="view-shopping-list.html" method="post">

        {{ form.hidden_tag() }}

        <h2 class="form-signin-heading">Andela Shopping List</h2>
        <div class="login-wrap">

            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            <input type="text" class="form-control" placeholder="Username" name="username" required autofocus />
            {{ form.username(placeholder="Username", class="form-input", required="required") }}

            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            <input type="password" class="form-control" placeholder="Password" name="password" required />
            {{ form.password(placeholder="Enter Password", class="form-input", required="required") }}

            <button class="btn btn-md btn-login btn-block" type="submit">Sign in</button>

        </div>

        <p class="col-xs-6 col-xs-offset-3">or <a href="sign-up.html">Sign Up</a> if you dont have an account already</p>

    </form>

</div>


{% endblock %}
