{% extends "base.html" %}

{% block content %}

    <div class="col-xs-12">

        <h1>Sign Up</h1>

        <div class="row">

          <img src="{{ url_for('static', filename='images/shopping-list.jpg') }}" class="col-sm-6 hidden-xs" />

          <div class="col-sm-6 col-xs-12" style="margin-top:30px">
              <h4 class="col-xs-12">Fill this in real quick and begin using our awesome features</h4>

              <form role="form" class="col-xs-12" style="margin-top:20px" method="post" action="/sign-up" name="sign-up">

                  {{ form.hidden_tag() }}

                  <div class="form-group">

                      <label for="username">Username</label>

                      {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                      {{ form.username(placeholder="vince-the-realest", class="form-control", required="required", id="username") }}

                  </div>
                  <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="vince@hotmail.com" required>
                  </div>
                  <div class="form-group">

                      <label for="password">Password</label>

                      {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}<br>
                        {{ form.password(placeholder="Enter Password", class="form-control", required="required", id="password") }}


                  </div>
                  <div class="form-group">

                      <label for="password2">Password</label>

                       {% for error in form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}<br>

                      {{ form.password2(placeholder="Re-Enter Password", class="form-control", required="required", id="password2") }}

                  </div>

                  <div class="checkbox">
                      <label>
                          <input type="checkbox"> I have read and agreed to the Andela Shopping list terms and conditions
                      </label>
                  </div>
                  <button type="submit" class="btn btn-info">Sign Up</button>
              </form>

          </div>
      </div>

  </div>


{% endblock %}