{% extends "base_logged_in.html" %}

{% block content %}

<div class="col-xs-12" style="background-color: #fff">

    <h1>Create items in your bucket list</h1>
    <h4>Leave nothing out!</h4>

    <form action="" method="post" name="create-bucketlist-item">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">

                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                    {{ form.name(placeholder="Bucket List item", class="form-input", required="required" ) }}

                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">

                    {% for error in form.date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                    {{ form.date(placeholder="Give yourself a time limit", required="required", type="date", class="form-input") }}

                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <br>
                    <center>
                        <button type="submit" name="Submit" class="btn btn-success">Create Bucket List item</button>
                    </center>
                </div>
            </div>

        </div>


    </form>

</div>

{% endblock %}