{% extends "base_logged_in.html" %}

{% block content %}

<div class="col-xs-12" style="background-color: #fff">

    <h1>Edit Shopping list form</h1>
    <h4>Shopping lists are a good way to keep track of expenditures!</h4>

    <form action="/update/shopping-list/{{ shopping_list_id }}" method="post" name="create-bucketlist">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">

                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                    <input placeholder="Shopping list" class="form-control" required value="{{ name }}" name="name"/>

                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <br>
                    <center>
                        <button type="submit" name="Submit" class="btn btn-success">Create Bucket List</button>
                    </center>
                </div>
            </div>

        </div>


    </form>

</div>

{% endblock %}