{% extends "base_logged_in.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<div class="alert alert-info">
    <strong><i class="fa fa-info-circle"></i></strong> {{ message.message }}
</div>

{% endfor %}

{% endif %}
{% endwith %}

<style type="text/css">
    .alert { padding: 10px; }
    .alert-default{ border: 1px solid #000; clear:left }
    .alert-default:hover{ background-color: #dff0d8; border: none}
    .shopping-list i { font-size: 24px; cursor:pointer }

</style>

<div class="col-xs-12" style="background-color: #fff">

    <div class="col-xs-12">

        <div class="col-sm-6 col-xs-12">

            <h4 class="col-xs-12" style="margin-bottom:20px">Shopping lists</h4>
            <a href="/create/shopping-list" class="btn btn-success col-xs-6" style="margin-bottom:20px"><i class="fa fa fa-plus-circle"></i>Add New Shopping List</a>

            {% if items %}

            {% for item in items %}
            <div class="col-xs-12 shopping-list">

                <div class="alert alert-default col-xs-10">
                    <strong>{{ items[item]['name'] }}</strong> -  {{ items[item]['time'] }}
                </div>
                <a href="/update/shopping-list/{{ items[item]['id'] }}">
                    <i class="col-xs-1 fa fa-edit btn btn-primary"></i>
                </a>
                <form role="form" method="post" action="/delete/shopping-list">
                    {{ form.hidden_tag() }}
                    <input type="hidden" value="{{ items[item]['id'] }}" name="id" />
                    <button class="btn btn-danger col-xs-1" type="submit">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </form>

            </div>

            {% endfor %}

            {% endif %}

        </div>

        <div class="col-sm-6 hidden-xs">

            <h4 class="col-xs-12" style="margin-bottom:20px">Shopping list - Item Name 2</h4>
            <h4 class="col-xs-12" style="margin-bottom:20px">Items</h4>

            <ul class="list-group col-xs-12">
                <li class="list-group-item">
                    <label><input type="checkbox" checked> Milk</label>
                </li>
                <li class="list-group-item">
                    <label><input type="checkbox"> Diapers</label>
                </li>
                <li class="list-group-item">
                    <label><input type="checkbox" checked> Bread</label>
                </li>
                <li class="list-group-item">
                    <label><input type="checkbox" checked> Yoghurt</label>
                </li>
                <li class="list-group-item">
                    <label><input type="checkbox" checked> 10 A4 books</label>
                </li>
                <li class="list-group-item">
                    <label><input type="checkbox"> Wipes</label>
                </li>
            </ul>

        </div>

    </div>

</div>

{% endblock %}