{% extends "base_logged_in.html" %}

{% block content %}

<!-- flash messages logic       -->
{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<div class="alert alert-info message col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <strong><i class="fa fa-info-circle"></i></strong> {{ message.message }}
</div>

{% endfor %}

{% endif %}
{% endwith %}
<!-- flash messages logic end       -->


<!-- shopping list page container       -->
<div class="col-xs-12">

    <!-- shopping list panel/ container       -->
    <div class="panel panel-default col-sm-6 col-xs-12" id="list-panel">

        <!-- shopping list header       -->
        <div class="panel-heading col-xs-12">
            <h4 class="col-xs-10">Shopping lists</h4>
            <a href="/create/shopping-list" class="btn btn-success col-xs-2" style="padding:10px 0"><i class="fa fa fa-plus-circle"></i></a>
        </div>
        <!-- shopping list header end      -->

        <!-- shopping lists       -->
        <div class="panel-body col-xs-12">

            <h5>Click a shopping list to see its items</h5>

            <!-- logic to generate shopping lists      -->
            {% if items %}

            {% for item in items %}

            <!-- shopping list container       -->
            <div class="col-xs-12 shopping-list">

                <!-- shopping list details       -->
                <div class="alert alert-default col-md-10 col-xs-12" id="{{ items[item]['id'] }}">
                    <strong>{{ items[item]['name'] }}</strong> -  {{ items[item]['time'] }}
                </div>
                <!-- shopping list details end      -->

                <!-- edit shopping list button       -->
                <div class="col-md-1 col-xs-8" style="padding:0">
                    <a href="/update/shopping-list/{{ items[item]['id'] }}" class="col-xs-12 btn btn-primary" style="padding:5px 0">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
                <!-- edit shopping list button end      -->

                <!-- form that deletes a shopping list       -->
                <form role="form" method="post" action="/delete/shopping-list" class="delete_form col-md-1 col-xs-4" style="padding:0">
                    {{ form.hidden_tag() }}
                    <input type="hidden" value="{{ items[item]['id'] }}" name="id" />
                    <button class="btn btn-danger col-xs-12" type="button" style="padding:5px 0">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </form>
                <!-- form that deletes a shopping list end       -->

            </div>
            <!-- shopping list container end       -->

            {% endfor %}

            {% endif %}
            <!-- logic to generate shopping lists end      -->

        </div>
        <!-- shopping lists end      -->

    </div>
    <!-- shopping list panel/ container end       -->


    <!-- shopping list items panel/ container       -->
    <div class="panel panel-default col-sm-5 col-sm-offset-1 col-xs-12 hidden-xs" id="list-items-panel">

        <!-- panel header container       -->
        <div class="panel-heading col-xs-12">

            <!-- button for mobile phones to show shopping lists and hide items      -->
            <button class="btn hidden-md hidden-lg hidden-sm col-xs-1" id="back-to-lists" style="padding:10px 0"><i class="fa fa-arrow-circle-left"></i></button>

            <!-- panel header       -->
            <h4 class="col-xs-10">Shopping list items</h4>

            <!-- button that toggles the shopping list item form       -->
            <button id="create-shopping-list-item" class="btn btn-success col-sm-2 col-xs-1" style="padding:10px 0"><i class="fa fa fa-plus-circle"></i></button>

        </div>
        <!-- panel header container       -->

        <!-- panel body container       -->
        <div class="panel-body">

            <!-- header that shows currently selected shopping list       -->
            <h4 class="col-xs-12">Shopping list - <span id="list-name"></span></h4>
            <h4 class="col-xs-12">Items</h4>

            <!-- shopping list item form container      -->
            <div class="well well-sm col-xs-12" id="new-item-form">

                <!-- shopping list item form header      -->
                <h5>Enter shopping list item to add below!</h5>

                <!-- shopping list item form       -->
                <form action="/create/shopping-list/item" method="post" name="create-bucketlist">
                    {{ form_item.hidden_tag() }}

                    <!-- csrf token       -->
                    <input type="hidden" value="" name="shopping_list" />

                    <!-- form input container       -->
                    <div class="row">

                        <!-- shopping list item name input logic       -->
                        <div class="col-xs-6">
                            <div class="form-group">

                                {% for error in form_item.name.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}<br>
                                {{ form_item.name(placeholder="Shopping List item", class="form-control", required="required") }}

                            </div>
                        </div>
                        <!-- shopping list item name input logic end       -->

                        <!-- submit button container       -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <br>
                                <center>
                                    <button type="submit" name="Submit" class="btn btn-success create-item" disabled>Create item</button>
                                </center>
                            </div>
                        </div>
                        <!-- submit button container end       -->

                    </div>
                    <!-- form input container end       -->

                </form>
                <!-- shopping list item form end      -->

            </div>
            <!-- shopping list item form container end      -->


            <!-- container that holds shopping lists       -->
            <ul class="list-group col-xs-12">

                <!-- logic to generate shopping list items       -->
                {% if items_of_list %}

                {% for item in items_of_list %}

                <!-- shopping list item container       -->
                <li class="list-group-item col-xs-12 shopping-list-items {{ items_of_list[item]['shopping_list'] }}" id="{{ items_of_list[item]['id'] }}" style="padding:0">

                    <!-- shopping list item name and checkbox       -->
                    <label class="col-md-10 col-xs-12" style="padding: 5px 0 5px 5px;"><input type="checkbox"
                                                                                              {% if items_of_list[item]["checked"] %} checked {% endif %}> {{ items_of_list[item]['name'] }} </label>
                    <!-- edit shopping list item button       -->
                    <div class="col-md-1 col-xs-8" style="padding:0">
                        <a href="/update/shopping-list/item/{{ items_of_list[item]['id'] }}" class="col-xs-12 btn btn-primary" style="padding:5px 0">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    <!-- edit shopping list item button end      -->

                    <!-- form that deletes a shopping list item       -->
                    <form role="form" method="post" action="/delete/shopping-list-item" class="col-md-1 col-xs-4 delete_form" style="padding:0">
                        {{ form_delete.hidden_tag() }}
                        <input type="hidden" value="{{ items_of_list[item]['id'] }}" name="id" />
                        <button class="btn btn-danger col-xs-12" type="button" style="padding: 5px 0;">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </form>
                    <!-- form that deletes a shopping list item end       -->

                </li>
                <!-- shopping list item container end       -->

                {% endfor %}

                {% endif %}
                <!-- logic to generate shopping list items end       -->

            </ul>
            <!-- container that holds shopping lists end       -->

        </div>
        <!-- panel body container end       -->

    </div>
    <!-- shopping list items panel/ container end       -->

</div>
<!-- shopping list page container end       -->


<!-- link to page styling       -->
<link href="{{ url_for('static', filename='css/view-shopping-list.css') }}" rel="stylesheet" />

<!-- link to page behaviour       -->
<script src="{{ url_for('static', filename='js/view-shopping-list.js') }}"></script>

{% endblock %}