
@import "template";

.form-login {

   .btn-login {
        background: #f67a6e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        font-family: $font-stack;
        box-shadow: 0 4px #e56b60;
        margin-bottom: 20px;
    }

}


