<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!--external css-->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />

    {% if title %}
        <title> {{ title }} - Bucket List </title>
    {% else %}
        <title>Welcome to Vince's Bucket List</title>
    {% endif %}

    {% block header %}
        
    {% endblock header %}

</head>

<body style="float:left; padding:0; background-color: #fff; width:100%">

    {% block nav %}

    {% endblock nav %}

    {% block content %}

    {% endblock content %}

    </div>
    <!-- /#wrapper -->

</body>

</html>
