{% extends "base.html" %}

{% block nav %}

    <!--  link to navigation bar styling      -->
    <link href="{{ url_for('static', filename='css/template_logged_in.css') }}" rel="stylesheet" />

    <!--  navbar       -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Andela Shopping List</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><i class="fa fa-user"></i> Welcome  {{ session['logged_in'].username }} </a></li>
          <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </nav>
    <!--  navbar end      -->

{% endblock %}